In [2]:
# LIST 
list_primes = [2, 3, 4, 7, 11]
print(type(list_primes))

<class 'list'>

In [5]:
list_primes = [31, 37, 41] # list are mutable and tuple are non-tuple
print(list_primes)

[31, 37, 41]

In [9]:
mixed_list = [1, 2, 3, 4,['five', 'six']]
print(mixed_list)
mixed_list [4] # one less than bc starts at 0

[1, 2, 3, 4, ['five', 'six']]

['five', 'six']

In [12]:
#retrive just the f in five 
mixed_list = [1, 2, 3, 4,['five', 'six']]
print(mixed_list)
mixed_list [4] [0] [0]

[1, 2, 3, 4, ['five', 'six']]

'f'

In [1]:
# Creating a 2D array
A = [[1,2,3], [4,5,6]]
print(A)

[[1, 2, 3], [4, 5, 6]]

In [12]:
# Append items to list
soil_orders = ['Mollisols','Alfisols']
print(soil_orders)
soil_orders.append('Andisols')
print(soil_orders)

['Mollisols', 'Alfisols']
['Mollisols', 'Alfisols', 'Andisols']

In [13]:
extra_soils = ['Spodosolds', 'Oxisols']
soil_orders.append(extra_soils)
print(soil_orders)

['Mollisols', 'Alfisols', 'Andisols', ['Spodosolds', 'Oxisols']]

In [19]:
soil_orders.extend(extra_soils) #############################################
print(soil_orders)

['Mollisols', 'Alfisols', 'Andisols', ['Spodosolds', 'Oxisols'], 'Spodosolds', 'Oxisols', 'Spodosolds', 'Oxisols']

In [6]:
soil_orders.pop(1) #returns deleted item

'Alfisols'

In [7]:
print(soil_orders)

['Mollisols', 'Andisols', ['Spodosolds', 'Oxisols'], 'Spodosolds', 'Oxisols']

In [11]:
# TUPLES 
my_tuple = (1,2,3)
print(type(my_tuple))

<class 'tuple'>

In [15]:
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [16]:
# DICTIONARY {name:value} pairs # can call columns by name to retrieve the data
D = {'country': ['Ghana', 'Iran', 'US', 'Brazil'],
    'airTemp': [25, 39, -5, 38]}
print(D)

{'country': ['Ghana', 'Iran', 'US', 'Brazil'], 'airTemp': [25, 39, -5, 38]}

In [18]:
print(D['country'] [2]) #country pulls the specific country names

US

In [20]:
# SETS 
DNA = set('ATGGTA') #gives the unique elimates 
print(DNA)

{'A', 'T', 'G'}